/* Header */

.header-nav-link {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    align-items: center;
    text-transform: uppercase;
    
    color: #1E0606; 
}

.header-list {
    list-style-type: none;
}

.header-button {
    background-color: #fff;
    border: none;
}

/* Poster */

.poster {
    background-color: #EEE4DB;
}

.poster-img {
    background-image: url(/images/alian.png);    
    background-repeat: no-repeat;
    background-position: center
}

.poster-title {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 40px;
    line-height: 110%;
    
    color: #1E0606;
}

.poster-header {
    font-family: Crimson Text;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;

    color: #1E0606;
}

.poster-button {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    background-color: #000000;

    color: #FFFFFF;

}

.poster-number{
    font-family: Montserrat;
    font-weight: 300;
    font-size: 60px;
    line-height: 73px;

    color: rgba(30, 6, 6, 0.05);
}

.poster-list-slider {
    list-style-type: none;
}

.poster-slider {
    border: none;
    background-color: #EEE4DB;
}

.info-header {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;

    background-color: #C29974;;
    color: #FFFFFF;
}

/* Products */

.products-title {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    
    text-transform: uppercase;

    color: #1E0606;
}

.products-list {
    list-style-type: none;
}

.product-card-1 {
    background-color: #DBE4DB;
}

.product-card-2 {
    background-color: rgba(186, 142, 107, 0.3);
}

.product-card-3 {
    background-color: #F8F2DA;
}

.product-card-4 {
    background-color: rgba(9, 3, 79, 0.17);
}

.product-card-text {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    text-transform: uppercase;

    color: #FFFFFF;

    text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
}

.addiction-left {
    width: 37px;
    height: 37px;
    left: 110px;
    top: 1112px;
    
    background-color: rgba(112, 187, 220, 0.2);
    border: none;
}

.addiction-right {
    width: 37px;
    height: 37px;
    left: 153px;
    top: 1112px;

    background-color: rgba(112, 187, 220, 0.2);
    border: none;
}

.addiction-p {
    font-family: Open Sans;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    color: #1E0606;
}

/* Delivery */

.delivery-list {
    list-style-type: none;
}

.delivery-title {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;

    color: #1E0606;
}

.delivery-button {
    font-family: Crimson Text;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;

    background-color: rgba(112, 187, 220, 0.2);
    color: #1E0606;
    border: none;
}

.delivery-guarantee {
    font-family: Crimson Text;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;

    background-color: #FFFFFF;
    color: #1E0606;
    border: none;
}

.delivery-credit {
    font-family: Crimson Text;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;

    background-color: #FFFFFF;
    color: #1E0606;
    border: none;
}

.delivery-text {
    font-family: Open Sans;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    color: #1E0606;
}

.button {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;

    background-color: #000000;
    color: #FFFFFF;
}

/* Partners */

.partners-list {
    list-style-type: none;
}

/* About us */

.about-us-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;

    color: #1E0606
}

.about-us {
    background-color: #E1F0F7;
}

.about-us-header {
    font-family: Crimson Text;
    font-style: italic;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;

    color: #1E0606
}

.article {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    color: #1E0606;
}

.map {
    background-color: #E1F0F7;
}

.map-contuct-us {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;

    text-transform: uppercase;

    color: #1E0606
}

/* Footer */

.footer {
    background: #434343;
}

.footer-title {
    font-family: Open Sans;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    color: #AAAAAA;
}

.footer-nav-list {
    list-style-type: none;
}

.footer-nav-link {
    font-family: Open Sans;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    color: #FFFFFF;
}

.footer-info-list {
    list-style-type: none;
}

.footer-info-link {
    font-family: Open Sans;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    color: #FFFFFF;
}

/* Footer form */

.email-form {
    font-family: Open Sans;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    align-items: center;

    background-color: #666666;
    color: #EBEBEB;
}

.footer-socialnetworks {
    list-style-type: none;
}

.footer-rating-title {
    font-family: Open Sans;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    
    align-items: center;

    color: #FFFFFF;
}

.footer-rating-list {
    list-style-type: none;
}

.img-footer {
    background: #434343;
    border: none;
}

.footer-text {
    font-family: Open Sans;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    align-items: center;

    color: #FFFFFF;
}

.footer-company {
    font-family: Open Sans;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    align-items: center;

    color: #A2A2A2;
}
